body, html {
    background-color: #bbbbbb;
}


/*NAVBAR*/

.navbar {
    margin-bottom: 0;
    background-color: #494d4e; 
}

.navbar .navbar-nav > li > a{
    color: #e1e7e7;
}
.navbar .navbar-nav > li > .plinkmenu:hover,
.navbar .navbar-nav > li > .plinkmenu:focus{    
    border-bottom: 1px solid white;
    background-color: #494d4e;
}

.navbar .navbar-nav > li > .langlink:hover,
.navbar .navbar-nav > li > .langlink:focus{  
    background-color: #494d4e;
}

.navbar .navbar-nav > li > .langlink > img:hover,
.navbar .navbar-nav > li > .langlink > img:focus{  
    border-bottom: 1px solid white;
    background-color: #494d4e;
}

.active1 {
    border-bottom: 1px solid white;
}

.langa {
    float: left;
}

.langlink {
    float: left;
    padding-left: 0;
    padding-right: 0;
}

.langlink img {
    padding-bottom: 3px;
}

.activeimg {
    border-bottom: 1px solid white;
}

.l1 {    
    margin-left: 15px;
}

.ul1 {
    margin-top: -10px;
}

@media (min-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .menulink {
        float: none;
        display: inline-block;
    }
    .navbarcent {
    margin-left: 18%;
    }
    .langlink {
        margin-left: 0;
    }
    .ul1 {
        margin-top: 0;
    }
}

.langlink img {
    width: 20px;
}

.navbar-brand {
    padding: 5px 10px 5px 30px;
    
}

.logo {
    height: 100%;
}

/**/










/*MAINIMG*/

.mainimg, .mainimgvac, .map1, .os {
    margin-top: 50px;
    padding: 0;
}


.mainrow {
    margin-left: 0;
    margin-right: 0;
}
.mainimg {
    background-image: url(images/svg/FON.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
.mainimg2 {  
    margin: 0;
    padding: 3%;    
    }
.mainimg3 {
    margin: 0;
    padding: 8% 3% 8% 3%;
    }

@media (max-width: 767px) {
    .mainimg2, .mainimg3 {
        margin: auto;
    }
}
/**/







.backcolor {
    background-color: #e1e7e7;
}

.cen {
    height: 50px;
}

.contcont {
    background-color: #e1e7e7;
    padding: 0 30px;
}

.contacts {
    background-color: #e1e7e7;
    padding: 10px 30px 20px 30px;
}

.opis {
    margin-top: 15px; 
}

.opis > .container-fluid {
    padding-top: 0px;
}

.maindisc {
    text-indent: 30px;
}

footer {
    padding-top: 13px;   
    background-color: #494d4e;
}


.icon-bar {
    background-color: #abb1b1;
}

h4 {
    margin-top: 10px;
}

.container-fluid {
        padding: 10px 0; 
    }


/********************CONTACTS*********************/

.inner1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .contactsmarg {
        margin-top: 6%;
    }
    .inner1 {
        margin: 5% 0;
    }
}  

@media (min-width: 992px) {
    .contactsimg {
    margin-left: 30px;
    color: #262727;
    }
}

@media (max-width: 767px) {
    .contactsimg {
    margin-left: 50px;
    }
}

@media (max-width: 460px) {
    .contactsimg {
    margin-left: 0;
    }
}

.contacts {
    height: auto;
}

.contactsimg {
    height: 42px;
}
.contacts .outer .inner {
    margin-bottom: 20px;
}

.mail {
    margin-top: 6%;
}

.map {
    height: 400px;
    margin: 10px 0;
}

#map {
    height: 100%;
    width: 100%;
}

.indcontacts {
    background-color: #abb1b1;
}

.tell {
    min-width: 240px;
}


/********************SLIDER*********************/
.slider {
    padding: 0 30px;
}

.outer-slider {
    position: relative;
    display: block;
}

.controls {
    position: absolute;
      width: 100%;
      top: 50%;
      height: auto;
      pointer-events: none;
      z-index: 2;
}

.arrow {
        position: absolute;
        -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        -webkit-transition: -webkit-transform 0.1s ease-out;
        transition: -webkit-transform 0.1s ease-out;
        -o-transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out; 
        color: #262727;
}

.arrow:hover {
          -webkit-transform: translateY(-50%) scale(1.1);
          -ms-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1); 
}

.arrow:active {
          -webkit-transform: translateY(-50%) scale(1);
          -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1); 
}
#arrleft {
          left: 10px;
          pointer-events: auto; 
}
#arrright {
          right: 10px;
          pointer-events: auto; 
}

.slider {
    background-color: #e1e7e7;
}

.owl-dots {
    display: none;
}
.slider-inner {
    margin-right: 90px;
    margin-left: 90px; 
}

.arrow img {
    height: 42px;
}




/********************CONTACTS FILE*********************/
.map1 {
    height: 500px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}

.contactscont {
    padding-left: 0;
    padding-right: 0;
}

.contactsh3 {
    margin-left: 45px;
}

.contactsbtn {
    border-radius: 0px;
    background: #f7b332;
    border: 0;
    color: #e1e6e6;
    height: 40px;
    width: 100px;
    text-shadow: none;
}

.contform {
    background-color: #abb1b1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-group, .form-control {
    border-radius: 0px;
}


/********************VACANCIES FILE*********************/
.mainimgvac {
    height: 300px;
    background-image: url(images/svg/FON_V.png);
    background-size: cover;
    position: relative;
}

@media (min-width: 768px) {
    .mainimgvac {
        height: 287px;
    }
}

@media (min-width: 992px) {
    .mainimgvac {
        height: 371.172px;
    }
}

@media (min-width: 1200px) {
    .mainimgvac {
        height: 447.703px;
    }
}

.vactext {
    width: 100%;
    margin: auto;
}

/********************OUR SERVICES FILE*********************/
.os {
    height: 300px;
    background-image: url(images/svg/FON_S.png);
    background-size: cover;
    
    position: relative;
}

@media (min-width: 768px) {
    .os {
        height: 287px;
    }
}

@media (min-width: 992px) {
    .os {
        height: 371.172px;
    }
}

@media (min-width: 1200px) {
    .os {
        height: 447.703px;
    }
}

.rowservices {
    padding-top: 20px;
}





/********************FONTS*********************/
@font-face {
    font-family: Arsenal-Bold;
    src: url(fonts/Arsenal-Bold.otf);
}
.pvacancies {
    text-decoration: underline;
    color: white;
    font-family: Arsenal-Bold;
    font-size: 64pt;
    position: absolute;
    top: 50%;
    margin-top: -60.5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.articles {
    font-family: Arsenal-Bold;
    font-size: 36pt;
    color: #262727;
}

@media (max-width: 767px) {
    .pvacancies {
        font-size: 48pt;
    }
    
    .articles {
    font-family: Arsenal-Bold;
    font-size: 26pt;
}
}

@font-face {
    font-family: Arsenal-Regular;
    src: url(fonts/Arsenal-Regular.otf);
}

.plinkmenu {
    font-family: Arsenal-Regular;
    font-size: 12pt;
}

.subarticles {
    font-family: Arsenal-Regular;
    font-size: 25pt;
    color: #262727;
}

.alltext {
    font-family: Arsenal-Regular;
    font-size: 14pt;
    color: #262727;
}

.alltext12 {
    font-family: Arsenal-Regular;
    font-size: 14pt;
    color: #262727;
}

@media (max-width: 768px) {
    .subarticles {
    font-family: Arsenal-Regular;
    font-size: 17pt;
    }
    .alltext {
    font-family: Arsenal-Regular;
    font-size: 10pt;
    }

    .alltext12 {
    font-family: Arsenal-Regular;
    font-size: 8pt;
    }
}

textarea {
    resize: vertical;
}