body, html {
    background-color: #bbbbbb;
}


/*NAVBAR*/

.navbar {
    margin-bottom: 0;
    background-color: #494d4e; 
}

.navbar .navbar-nav > li > a{
    color: #e1e7e7;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus{    
    background-color: #494d4e;
    text-decoration: underline;
}

.langa {
    float: left;
}

.langlink {
    float: left;
    padding-left: 0;
    padding-right: 0;
}

.l1 {    
    margin-left: 15px;
}

.ul1 {
    margin-top: -10px;
}

@media (min-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .menulink {
        float: none;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }
    .navbar-nav li:hover{
        text-decoration: underline;
        background-color: none;
    }
    .navbarcent {
    margin-left: 18%;
    }
    .langlink {
        margin-left: 0;
    }
    .ul1 {
        margin-top: 0;
    }
}

.langlink img {
    width: 30px;
}

.navbar-brand {
    padding: 5px 5px 5px 15px;
    
}

.logo {
    height: 100%;
}

/**/










/*MAINIMG*/

.mainimg {
    margin-top: 50px;
    padding: 0;
}

@media (min-width: 768px) {
    margin-top: 52px;
}

.mainrow {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 768px) {
    .mainimg {
        background-image: url(images/main-img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mainimg2 {
        margin-top: 6%;
        margin-bottom: 6%;   
        margin: 0;
    }
    .mainimg3 {
        margin-top: 6%;
        margin-bottom: 6%;
        margin: 0;
    }
}

/**/







.backcolor {
    background-color: #e1e7e7;
}

.cen {
    height: 50px;
}

.contcont {
    background-color: #abb1b1;
}

.contacts {
    background-color: #e1e7e7;
}

.opis {
    margin-top: 15px; 
}


.maindisc {
    text-indent: 30px;
}

footer {
    padding-top: 13px;   
    background-color: #494d4e;
}


.icon-bar {
    background-color: #abb1b1;
}

h4 {
    margin-top: 10px;
}

.container-fluid {
        padding: 10px 0; 
    }


/********************CONTACTS*********************/

.inner1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .contactsmarg {
        margin-top: 6%;
    }
    .inner1 {
        margin: 5% 0;
    }
}  

@media (min-width: 992px) {
    .contactsimg {
    margin-left: 30px;
    }
}

@media (max-width: 767px) {
    .contactsimg {
    margin-left: 50px;
    }
}

@media (max-width: 460px) {
    .contactsimg {
    margin-left: 0;
    }
    .contactsfluid {
        margin-left: 20px;
    }
}

.contacts {
    height: auto;
}

.contactsimg {
    height: 50px;
}
.contacts .outer .inner {
    margin-bottom: 20px;
}

.mail {
    margin-top: 6%;
}

.map {
    height: 400px;
    margin: 10px 0;
}

#map {
    height: 100%;
    width: 100%;
}

/********************SLIDER*********************/
.outer-slider {
    position: relative;
    display: block;
}

.controls {
    position: absolute;
      width: 100%;
      top: 50%;
      height: auto;
      pointer-events: none;
      z-index: 2;
}

.arrow {
        position: absolute;
        -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        -webkit-transition: -webkit-transform 0.1s ease-out;
        transition: -webkit-transform 0.1s ease-out;
        -o-transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out; 
}

.arrow:hover {
          -webkit-transform: translateY(-50%) scale(1.1);
          -ms-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1); 
}

.arrow:active {
          -webkit-transform: translateY(-50%) scale(1);
          -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1); 
}
#arrleft {
          left: 10px;
          pointer-events: auto; 
}
#arrright {
          right: 10px;
          pointer-events: auto; 
}

.slider {
    padding-right: 0;
    padding-left: 0;
    background-color: #e1e7e7;
}

.owl-dots {
    display: none;
}
.slider-inner {
    margin-right: 90px;
    margin-left: 90px; 
}

.owl-carousel img {
    background-color: #abb1b1;
    border-radius: 20px;
}





/********************CONTACTS FILE*********************/
.map1 {
    height: 500px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}

.contactscont {
    padding-left: 0;
    padding-right: 0;
}

.contactsh3 {
    margin-left: 45px;
}

.contactsbtn {
    border-radius: 0px;
    background: #f7b332;
    border: 0;
    color: #e1e6e6;
    height: 40px;
    width: 100px;
    text-shadow: none;
}

.contform {
    background-color: #abb1b1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group, .form-control {
    border-radius: 0px;
}
