body, html {
    background-color: #bbbbbb;
}

.navbar {
    margin-bottom: 0;
    bottom: 0;
    background-color: #494d4e; 
}

.mainimg {
    padding: 0;
}

.backcolor {
    background-color: #e1e7e7;
}

.cen {
    height: 50px;
}

.text-center {
    margin-bottom: 20px;
}

.contcont {
    background-color: #abb1b1;
}

@media (min-width: 768px) {
    .img1 img {
        margin-top: 25px;
        margin-left: 10px;
    }
    
    .img2 {
        padding-right: 25px;
        padding-top: 25px;
        padding-left: 0;
    }
    
    .img2 img {
        height: 235.41px; 
    }
    
    .opis {
        padding-right: 25px;
    }
    
    .contcont {
        max-height: 235.41px;
    }
}

 

 

@media (min-width: 992px) {
    .contcont {
        max-height: 311.8px;
    }
    .img2 img {
        height: 311.8px; 
    }
}

@media (min-width: 1200px) {
    .contcont {
        max-height: 381.25px;
    }
    .img2 img {
        height: 381.25px; 
    }
}


.opis {
    margin-top: 15px; 
}

.centr {
    margin-left: 10px;
}

p {
    text-indent: 30px;
}

footer {
    padding-top: 13px;   
    background-color: #494d4e;
}